@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.navbar-brand {
  font-family: 'Sacramento', cursive;
  font-size: 30px;
}

.notice {
  background-color: green;
  color: #white;
  text-align: center;
}

.alert {
  background-color: red;
  color: #white;
  text-align: center;
}




