<div class="container">
 <div class="row">
 <div class="col-lg-8 offset-md-3">
<h1>ご注文ありがとうございました！</h1>
</div>


<!--暫定の戻るボタン-->
<div class="col-lg-8 offset-md-6">
 <%= link_to "トップページへ", root_path %>
  </div>
 </div>
</div>