<div class ="container">
  <h1 class=" d-flex align-items-center justify-content-center font-italic">
    ご注文ありがとうございます！<br>
    〜I will give it with gratitude〜
  </h1>
  <div class="col-md-12 text-center mt-6">
    <%= image_tag "thanks.jpeg", size: "800x400" %>
  </div>
</div>