

  <h2>注文情報確認</h2>
   <table class="table">
    <thead>
     <%#= @cart_items.each do |cart_item| %>
       <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
       </tr>
     </thead>
      <tbody>
       <!--エラー多発 order_datailの情報持ってて来れてない??-->
       <td><%#= image_tag cart_item_url, size: "50×70" %><%#= cart_item.item_name %></td>
       <td><%#= @item.price_including_tax.to_s(:delimited) %></td>
       <td><%#= cart_item.quantity %>個</td>
       <td><%#= ((cart_item.item.price_including_tax).floor*cart_item.quantity).to_s(:delimited) %></td>
      </tbody>
    <%# end %>
   </table>

   <div class="table">
     <tr>
       <th>送料</th>
        <td></td>
       <th>合計</th>
        <td></td>
       <th>請求金額</th>
        <td></td>
     </tr>
   </div>